@import './mixins.scss';

.about{
  background-color: var(--second-bgColor);

  &-container{
    padding: {
      top: 70px;
      bottom: 30px;
    }

    @include for-tablet{
      padding: {
        top: 100px;
        bottom: 90px;
      }
    }

    @include for-desktop{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      column-gap: 10px;
    }
  }

  &__content{
    @include for-tablet{
      max-width: 600px;
    }

    @include for-desktop{
      order: 2;
    }

    &-title{
      &-word{
        color: var(--mainColor);
      }
      @include for-desktop{
        transform: translate(0px, -60px);
        opacity: 0;
      }
      &.active{
        @include for-desktop{
          transform: translate(0px, 0px);
          opacity: 1;
          transition: 2s;
        }
      }
    }

    &-subtitle{
      margin-top: 7px;

      @include for-tablet{
        margin-top: 10px;
      }
      @include for-desktop{
        transform: translate(90px, 0px);
        opacity: 0;
      }
      &.active{
        @include for-desktop{
          transform: translate(0px, 0px);
          opacity: 1;
          transition: 2s;
        }
      }
    }

    &-text{
      margin-top: 25px;
      font-size: 20px;
      line-height: 27px;

      &-words{
        color: var(--mainColor);
      }

      @include for-tablet{
        margin-top: 30px;
      }
      @include for-desktop{
        transform: translate(90px, 0px);
        opacity: 0;
      }
      &.active{
        @include for-desktop{
          transform: translate(0px, 0px);
          opacity: 1;
          transition: 2s;
        }
      }
    }

  }

  &__img{
    max-width: 450px;
    margin: {
      top: 30px;
      left: auto;
      right: auto;
    }

    overflow: hidden;
    border-radius: 20px;

    @include for-desktop{
      max-width: 360px;
      margin: {
        left: 0;
        right: 0;
      }
      transform: translate(-90px, 0px);
      opacity: 0;
    }
    &.active{
      @include for-desktop{
        transform: translate(0px, 0px);
        opacity: 1;
        transition: 2s;
      }
    }

    @include for-desktop-HD{
      max-width: 450px;
    }

    &-photo{
      max-width: 100%;
    }
  }
}
